<div class="overview-content">
	<div class="overview-header">
		<h2><a [routerLink]="['/choice-group-detail',group.id]">{{group.title}}</a></h2>
		<button class="delete-group" (click)="deleteChoiceGroup()">X</button>
	</div>

	<div class="separator"></div>

	<div class="next-days" *ngIf="group.choices.length > 0">
	<table>
		<tr *ngFor="let outlook of getNextDaysSelections()">
			<td><b>{{outlook.day | date:"EEEE"}}</b></td>
			<td *ngFor="let choice of outlook.selections">
				<div class="choice-overview" [style.background]="choice.choice.color">
					{{choice.choice.title}}
				</div>
			</td>
		</tr>
	</table>
	</div>
</div>
