.choice-group-card {
	max-width: fit-content;
}

.choice-overview {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}

.overview-header {
	overflow: hidden;
	margin-top: 5px;
	margin: 5px 10px 10px 10px;
}

h2 {
	display:inline-block;
	margin: 0;
}

a {
	text-decoration: none;
}

.next-days {
	margin: 10px;
}
