<mat-card class="choice-group-card" appearance="outlined">
	<mat-card-header>
		<mat-card-title>
			{{group.title}}
		</mat-card-title>
		<!--TODO add delete button -->
	</mat-card-header>
	<mat-card-content>
		<div class="next-days" *ngIf="group.choices.length > 0">
			<table>
				<tr *ngFor="let outlook of getNextDaysSelections()">
					<td><b>{{outlook.day | date:"EEEE"}}</b></td>
					<td *ngFor="let choice of outlook.selections">
						<div class="choice-overview" [style.background]="choice.choice.color"
							[style.color]="isColorLight(choice.choice.color) ? '#000' : '#FFF'">
							{{choice.choice.title}}
						</div>
					</td>
				</tr>
			</table>
			</div>
	</mat-card-content>
	<mat-card-actions align="end">
		<button (click)="openDialog()" mat-icon-button>
			<mat-icon>edit</mat-icon>
		</button>
		<button mat-icon-button (click)="deleteChoiceGroup()">
			<mat-icon>delete</mat-icon>
		</button>
	</mat-card-actions>
</mat-card>
