.choice-group-card {
	max-width: fit-content;
}

.choice-overview {
	@media (prefers-color-scheme: light) {
		border: 2px solid black;
	}
	@media (prefers-color-scheme: dark) {
		border: 2px solid white;
	}
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}

.overview-header {
	overflow: hidden;
	margin-top: 5px;
	margin: 5px 10px 10px 10px;
}

.next-days {
	margin: 10px;
}
