<h2 mat-dialog-title>
  Choices for
  <mat-form-field>
    <mat-label>Group name</mat-label>
    <input matInput [(ngModel)]="choiceGroup.title" (input)="choiceGroupUpdated()"/>
  </mat-form-field>
</h2>

<mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      [formControl]="newChoiceNameControl"
      placeholder="Name for new choice"
    />
    <button
      type="button"
      matSuffix
      [disabled]="newChoiceNameControl.invalid"
      mat-button
      (click)="addChoice()"
    >
      Add
    </button>
  </mat-form-field>

  <div *ngIf="choiceGroup.choices.length > 0" class="choice-list">
    @for (choice of choiceGroup.choices; track choice.id) {
    <choice-card [choice]="choice" [groupId]="choiceGroup.id"></choice-card>
    }
  </div>

  <h2>Settings</h2>

  <mat-form-field>
    <mat-label>Selections/Day</mat-label>
    <input
      matInput
      [(ngModel)]="choiceGroup.choicesPerDay"
      type="number"
      (input)="choiceGroupUpdated()"
    />
  </mat-form-field>

  <h2>Analytics</h2>
  <h3>Distribution of choices for the next {{ numberOfDays }} days</h3>

  <mat-form-field>
    <mat-label>Number of Days</mat-label>
    <input matInput type="number" [(ngModel)]="numberOfDays" value="100" />
  </mat-form-field>
  <div>
    <button mat-button (click)="startAnalytics()">Analyze</button>
  </div>

  <table *ngIf="analytics.length != 0">
    <tr>
      <th>Choice</th>
      <th>How often?</th>
    </tr>
    <tr *ngFor="let row of analytics">
      <td>{{ row.choice }}</td>
      <td>{{ row.amount }}</td>
    </tr>
  </table>
</mat-dialog-content>
