.overview-box {
  border: 2px solid black ;
  display: inline-block;
  float: left;
  margin: 10px;
  border-radius: 10px;
  background-color: lightgray;
}

.overview-header {
	overflow: hidden;
	margin-top: 5px;
	margin: 5px 10px 10px 10px;
}

h2 {
	display:inline-block;
	margin: 0;
}

.separator {
	border: 1px solid black;
}
